body {
  background-color: black;
  color: white;
}

#fistRow {
  margin-top: 100px;
  width: 100%;
}

.sideBar {
  margin-top: 20px;
  justify-items: center;
  height: fit-content;
}

.sideBar > img {
  margin-top: 20px;
  border: 2px solid orange;
  box-shadow: 2px 2px 5px orange;
  border-radius: 25px;
}

.sideBar > h2 {
  margin-top: 20px;
}

.sideBar > ul {
  list-style: none;
}

.sideBar > ul > li {
  display: flex;
  align-items: center;
  text-align: center;
}

li > img {
  margin-right: 20px;
  align-self: self-start;
  padding-top: 2px;
}

.socialLogo {
  margin: 20px;
}

nav {
  position: fixed;
  top: 0;
  left: 50%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding: 20px 10px;
  border: 2px solid orange;
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 25px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  gap: 20px;
  z-index: 1000;
}

.nav-btn {
  color: orange;
  background-color: black;
  border: 1px solid orange;
  box-shadow: 2px 2px 2px orange;
  padding: 5px 10px;
  border-radius: 5px;
}

.nav-btn:hover {
  color: black;
  background-color: orange;
  border: 1px solid orange;
  box-shadow: 2px 2px 2px orange;
}

#aboutme {
  padding: 40px;
}

#aboutme > p,
#education,
#work-experience,
#skills,
.skills {
  padding: 15px 150px 15px 30px;
  text-align: justify;
  margin-top: 15px;
}

.preview {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

@media (max-width: 768px) {
  #aboutme > p,
  #education,
  #work-experience,
  #skills,
  .skills {
    padding-right: 15px;
    padding-left: 15px;
    text-align: left;
  }
  nav {
    left: 5%;
    width: 95%;
  }
}
